name: "CI/CD pull request"

on:
  push:
    branches:
      - "**"
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  commit-stage:
    name: "Commit stage"
    uses: ./.github/workflows/stage-1-commit.yaml
    secrets: inherit
